<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erazem Kos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" integrity="sha512-QKC1UZ/ZHNgFzVKSAhV5v5j73eeL9EEN289eKAEFaAjgAiobVAnVv/AGuPbXsKl1dNoel3kNr6PYnSiTzVVBCw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/src.js"></script>
</head>

<main>
  <div class="text-container">
    <h1 data-value="ERAZEM KOS">ERAZEM KOS</h1>
    <p data-value="SOFTWARE DEVELOPER">SOFTWARE DEVELOPER</p>
    <p data-value="DATA SCIENTIST">DATA SCIENTIST</p>
    <p data-value="COMPUTER VISION ENGINEER">COMPUTER VISION ENGINEER</p>
    </div>
</main>

<body>
<nav>
  <div id="nav-links">
    <a class="nav-link" href="#">
      <h2 class="nav-link-label rubik-font">Home</h2>
      <img class="nav-link-image" src="/static/images/home.png" />
    </a>
    <a class="nav-link" href="#">
      <h2 class="nav-link-label rubik-font">Work</h2>
      <img class="nav-link-image" src="/static/images/work.png" />
    </a>
    <a class="nav-link" href="#">
      <h2 class="nav-link-label rubik-font">About</h2>
      <img class="nav-link-image" src="/static/images/about.png" />
    </a>
    <a class="nav-link" href="#">
      <h2 class="nav-link-label rubik-font">Contact</h2>
      <img class="nav-link-image" src="/static/images/contact.png" />
    </a>
  </div>
</nav>

<button id="nav-toggle" type="button" onclick="toggleNav()">
  <i class="open icon-menu"></i>
  <i class="close icon-close"></i>
</button>

<a id="source-link" class="meta-link" href="https://www.buildinamsterdam.com/cases" target="_blank">
  <i class="fa-solid fa-link"></i>
  <span class="roboto-mono">Source</span>
</a>

<a id="yt-link" class="meta-link" href="https://youtu.be/GSPUUN4nDGE" target="_blank">
  <i class="fa-brands fa-youtube"></i>
  <span>5 min tutorial</span>
</a>

</body>
</html>