<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erazem Kos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" integrity="sha512-QKC1UZ/ZHNgFzVKSAhV5v5j73eeL9EEN289eKAEFaAjgAiobVAnVv/AGuPbXsKl1dNoel3kNr6PYnSiTzVVBCw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/src.js"></script>
    <script src="https://unpkg.com/vtk.js"></script>
</head>

<body>
<nav data-toggled="false" data-transitionable="false">
  <div id="nav-logo-section" class="nav-section">
    <a href="#">
      <i class="fa-solid fa-dumpster-fire"></i>
    </a>
  </div>
  <div id="nav-mobile-section">
    <div id="nav-link-section" class="nav-section">
      <a href="#">ABOUT</a>
      <a href="#">WORK</a>
    </div>
    <div id="nav-social-section" class="nav-section">
      <a href="#">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="https://www.youtube.com/c/Hyperplexed" target="_blank">
        <i class="fa-brands fa-youtube"></i>
      </a>
      <a href="#">
        <i class="fa-brands fa-codepen"></i>
      </a>
    </div>
    <div id="nav-contact-section" class="nav-section">
      <a href="#">GET IN TOUCH</a>
    </div>
  </div>
  <button id="nav-toggle-button" type="button" onclick="handleNavToggle()">
    <span>Menu</span>
    <i class="fa-solid fa-bars"></i>
  </button>
</nav>

<main>
  <article data-index="0" data-status="active">
    <div class="article-image-section article-section"></div>
    <div class="article-description-section article-section">
      <h1>SOFTWARE DEVELOPER</h1>
      <h1>DATA SCIENTIST</h1>
      <h1>COMPUTER VISION ENGINEER</h1>
      <h1>MSC IN ELECTRICAL ENGINEERING</h1>
    </div>
    <div class="article-title-section article-section">
      <h2 data-value="ERAZEM KOS">ERAZEM KOS</h2>
      <i class="fa-light fa-plus-large"></i>
    </div>
    <div class="article-nav-section article-section">
      <button class="article-nav-button" type="button" onclick="handleLeftClick()">
        <i class="icon-arrow-left"></i>
      </button>
      <button class="article-nav-button" type="button" onclick="handleRightClick()">
        <i class="icon-arrow-right"></i>
      </button>
    </div>
  </article>
  <article data-index="1" data-status="inactive">
    <div class="article-image-section article-section">
      <iframe
        src="https://www.youtube.com/embed/3L2SFQTAeJc?autoplay=1&mute=1&controls=0&modestbranding=1&showinfo=0&rel=0&loop=1&playlist=3L2SFQTAeJc&start=30"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        style="pointer-events: none;"
        allowfullscreen>
    </iframe>
    </div>
    <div class="article-description-section article-section">
      <p>Using technologies such as pytorch and opencv, me and my university colleague developed a published intracranial aneurysm detection pipeline which outperformed state-of-the-art solutions and medical professionals.</p>
      <br>
      <p>Skills acquired:</p>
      <ul>
          <li>Theory behind the training and optimizing deep learning models</li>
          <li>Libraries such as: Numpy, Pytorch, PyQt, OpenCV, SimpleITK, VTK</li>
      </ul>
    </div>
    <div class="article-title-section article-section">
        <h2>BRAIN ANEURYSM DETECTION</h2>
      <i class="fa-light fa-plus-large"></i>
    </div>
    <div class="article-nav-section article-section">
      <button class="article-nav-button" type="button" onclick="handleLeftClick()">
        <i class="icon-arrow-left"></i>
      </button>
      <button class="article-nav-button" type="button" onclick="handleRightClick()">
        <i class="icon-arrow-right"></i>
      </button>
    </div>
  </article>
  <article data-index="2" data-status="inactive">
    <div class="article-image-section article-section"></div>
    <div class="article-description-section article-section">
      <p>As a student I started working in a company named <a href="https://www.guardiaris.com/">Guardiaris</a> and after finishing my studies, I got a permanent position in their computer vision/AI R&D department. I developed novel accurate real-time camera pose estimation systems using a plethora of different cameras for military simulation purposes.</p>
      <br>
      <p>Skills acquired:</p>
      <ul>
          <li>Deepened my knowledge of OpenCV and computer vision</li>
          <li>ML python libraries</li>
          <li>C++, Python and some C#</li>
          <li>Developed mainly on linux</li>
          <li>And most importantly: I learned how to use git well</li>
      </ul>
    </div>
    <div class="article-title-section article-section">
      <h2>TACTICAL MILITARY SIMULATIONS</h2>
      <i class="fa-light fa-plus-large"></i>
    </div>
    <div class="article-nav-section article-section">
      <button class="article-nav-button" type="button" onclick="handleLeftClick()">
        <i class="icon-arrow-left"></i>
      </button>
      <button class="article-nav-button" type="button" onclick="handleRightClick()">
        <i class="icon-arrow-right"></i>
      </button>
    </div>
  </article>
  <article data-index="3" data-status="inactive">
    <div class="article-image-section article-section"></div>
    <div class="article-description-section article-section">
      <p>Due to better working conditions, pay and position I took the offer from a company named <a href="https://www.crea.si/">Crea</a> where I currently develop business process management applications.</p>
      <br>
      <p>Skills acquired:</p>
      <ul>
          <li>Database theory and SQL</li>
          <li>C# for backend development</li>
          <li>Python for integration of different components</li>
          <li>Appian for fast full-stack solutions</li>
      </ul>
    </div>
    <div class="article-title-section article-section">
      <h2>BUSINESS PROCESS MANAGEMENT - FULLSTACK SOLUTIONS</h2>
      <i class="fa-light fa-plus-large"></i>
    </div>
    <div class="article-nav-section article-section">
      <button class="article-nav-button" type="button" onclick="handleLeftClick()">
        <i class="icon-arrow-left"></i>
      </button>
      <button class="article-nav-button" type="button" onclick="handleRightClick()">
        <i class="icon-arrow-right"></i>
      </button>
    </div>
  </article>
</main>

</body>
</html>